.homePage-element {
    width: 100%;
    height: 15%;
    background-color: green;
    padding-left: 25px;
    margin-top: 3%;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.homePage-element h2 {
    margin-bottom: 0;
}

.homePage-title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.homePage-title h1{
    font-size: 70px;
    font-weight: 900;
    color: white;
    margin: 10% 0 10% 0;;
    text-shadow:4px 4px 6px red, -4px -4px 6px blue;
}