
  .game-board-tic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
    height: 80vh;
    width: 80%;
    position: relative;
    
  }
  
  .game-board--field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32%;
    margin-bottom: 2%;
    background: black;
    cursor: pointer;
    border-radius: 7px;
    box-shadow:4px 4px 6px red, -4px -4px 6px blue;
  }

  .game-board--field-content {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-size: 14vh;
    text-shadow:4px 4px 6px red, -4px -4px 6px blue;
  }
  
  .game-board--field:hover {
    background: darkgray;
  }
  
  .game-board--field:after {
    content: "";
    display: block;
    padding-bottom: 100%;
    margin-bottom: -100%;
  }

.btn {
    background: darkred;
    border-color: darkred;
    width:30%;
    height: 7%;
    position: center;
}

.graduation{
    transition-duration: 0.1s;
    transition-timing-function: linear;
}
.game-board .graduation:hover {
    transform: scale(1.05);
    transition-timing-function: linear;
}
.game-board--field--disabled {
    cursor: not-allowed;
  }

  .winner-info {
      display: block;
      
      align-items: center;
      justify-content: center;
      height: 500px;
      width: 700px;
  }

  