.game-board {
    cursor: none;
    margin: 0 auto;
}
.game-board--full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    cursor: none;
  }
  .container-pad {
      display: flex;
      flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .paddleGame-buttons .btn {
      width: 250px;
      height: 50px;
      margin: 10px;
  }
  .score-board {
    margin-left:0;
    width: 800px;
  }
  
  .score-board h1, h2 {
    color: white;
  }

  .highScore-info {
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  @keyframes example {
    0% {text-shadow: none;}
    50% {text-shadow:2px 2px 3px red, -2px -2px 3px blue;}
    100% {text-shadow: none;}
  }