.lang-changes {
    color: black;
    height: 40px;
}

.localization-btn {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: red;
    font-size: 15px;
    text-align: center;
    color: black;
    font-weight: 700;
    align-items: center;
}

.settings-element {
        width: 100%;
        height: 25vh;
        
        padding-left: 25px;
        padding-right: 25px;
        border-radius: 5px;
        align-items: center;
        display: flex;
        padding-top: 0;
        justify-content: space-between;
}

.settings-element h3 {
    color: white;
}

.settings-element:hover {
    background-color: rgba(0,0,0,0.1);
}