.container {
   display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    height: 70px;
    background-color: black;
    width: 100vw;
    font-size: 20px;
} 
.nav-link {
    color: white;
    border: 2px solid black; 
}

.nav-link:hover {
    color: white;
}
body {
    background: linear-gradient(to bottom, black 10%, white 90%)
}
